---
title: Yük testi sonuçlarını karşılaştırma
description: karşılaştırma raporları ve eğilim raporları çalıştırma dahil olmak üzere iki veya daha fazla test sonucunu temel alan Excel yük testi raporları oluşturmayı öğrenin.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.technology: vs-ide-test
ms.openlocfilehash: 5497459ba737e48299558046cd17d0cdf4cb99d4
ms.sourcegitcommit: b12a38744db371d2894769ecf305585f9577792f
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 09/13/2021
ms.locfileid: "126634262"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Test karşılaştırmaları veya eğilim analizi için yük testi sonuçlarını raporla

iki veya daha fazla test sonucunu temel alan Microsoft Excel yük testi raporları oluşturabilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

İki tür yük testi raporu kullanılabilir:

- Karşılaştırmayı Çalıştır &mdash; Bu rapor aslında tablo ve çubuk grafikleri kullanarak yan yana karşılaştırma verilerini görüntüleyen iki rapordur.

- Eğilim &mdash; , iki veya daha fazla raporda eğilim analizi oluşturabilirsiniz. Sonuçlar çizgi grafikler kullanılarak görüntülenir.

Rapor, performans verilerini paydaşlarla paylaşmak ve sistemin genel performansının ve sistem durumunun daha iyi veya daha kötüleştiğini iletmek için kullanılabilir.

Rapor tanımları yük testi veritabanında depolanır. Bir rapor kaydedildiğinde, raporun tanımı veritabanına kaydedilir ve daha sonra tekrar kullanılabilir.

Ayrıca, elektronik tablo dosyası, paydaşların raporu görmek için veritabanına bağlanması gerekmez.

> [!NOTE]
> bir yük testine yorum eklerseniz, bunlar Excel raporunda görünürler.

## <a name="tasks"></a>Görevler

|Görevler|İlişkili konular|
|-|-|
|**Performans ve stres raporu oluşturun:** Microsoft Excel kullanarak yük ve Web performans testlerinizde raporlar oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Excel kullanarak yük testi performans raporları oluşturma](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Microsoft Word kullanarak el ile bir performans ve stres raporu oluşturun:** özet, tablo ve grafik verilerini bir Microsoft Word belgesine kopyalayıp yapıştırarak yük ve web performans testlerinizde el ile rapor oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Word kullanarak el Ile yük testi performans raporu oluşturma](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını çözümle](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
