---
title: Yük testi sonuçlarını karşılaştırma
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: f85800ea59545ad64a821d1bb8c003ba6eef8c26
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 03/18/2020
ms.locfileid: "75589350"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Test karşılaştırmaları veya eğilim analizi için rapor yükü testleri sonuçları

İki veya daha fazla test sonucuna dayanan Microsoft Excel yük testi raporları oluşturabilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

İki tür yük testi raporu mevcuttur:

- Karşılaştırma&mdash;yı çalıştırBu rapor, tablolar ve çubuk grafikler kullanarak yan yana karşılaştırma verilerini görüntüleyen iki rapordur.

- Eğilim&mdash;İki veya daha fazla rapor üzerinde eğilim çözümlemesi oluşturabilirsiniz. Sonuçlar satır grafikleri kullanılarak görüntülenir.

Her iki rapor da performans verilerini hissedarlarla paylaşmak ve sistemin genel performansının ve sağlığının iyiye mi yoksa kötüye mi gidiyorsa iletmek için kullanılabilir.

Rapor tanımları yük testi veritabanında depolanır. Bir rapor kaydedildiğinde, raporun tanımı veritabanına kaydedilir ve daha sonra yeniden kullanılabilir.

Ayrıca, elektronik tablo dosyası hissedarlarla paylaşılabilir, böylece hissedarlar raporu görmek için veritabanına bağlanmak zorunda kalmaz.

> [!NOTE]
> Bir yük testine yorum eklerseniz, bunlar Excel raporunda görünür.

## <a name="tasks"></a>Görevler

|Görevler|İlişkili konular|
|-|-|
|**Performans ve stres raporu oluşturun:** Microsoft Excel'i kullanarak yük ve web performans testleri hakkında raporlar oluşturabilirsiniz.|- [Nasıl? Microsoft Excel'i kullanarak yük testi performans raporları oluşturma](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Microsoft Word'ü kullanarak el ile performans ve stres raporu oluşturun:** Özet, tablo ve grafik verilerini bir Microsoft Word belgesine kopyalayıp yapıştırarak yük ve web performans testlerinize ilişkin raporlar oluşturabilirsiniz.|- [Nasıl yapIlir: Microsoft Word'ü kullanarak bir yük testi performans raporu el ile oluşturma](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını analiz edin](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
