---
title: Yük testi sonuçlarını karşılaştırma
description: Çalıştırma karşılaştırma raporları Excel eğilim raporları da dahil olmak üzere iki veya daha fazla test sonuçlarını temel alan bir yük testi raporu oluşturma hakkında bilgi edinin.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.technology: vs-ide-test
ms.openlocfilehash: 5497459ba737e48299558046cd17d0cdf4cb99d4
ms.sourcegitcommit: 68897da7d74c31ae1ebf5d47c7b5ddc9b108265b
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/13/2021
ms.locfileid: "122115323"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Test karşılaştırmaları veya eğilim analizi için yük testleri sonuçlarını bildirme

İki veya Microsoft Excel test sonuçlarını temel alan bir yük testi raporu da oluştur.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

İki tür yük testi raporu mevcuttur:

- Karşılaştırmayı çalıştırma Bu rapor aslında tabloları ve çubuk grafikleri kullanarak yan &mdash; yana karşılaştırma verilerini görüntülemek için iki rapor içerir.

- Eğilim &mdash; İki veya daha fazla rapor üzerinde eğilim analizi oluştur. Sonuçlar çizgi grafikler kullanılarak görüntülenir.

Her iki rapor da performans verilerini paydaşlarla paylaşmak ve sistemin genel performansının ve durumunun iyiye mi yoksa daha kötüye mi olduğunu iletmek için kullanılabilir.

Rapor tanımları yük testi veritabanında depolanır. Bir rapor kaydedilebilir, raporun tanımı veritabanına kaydedilir ve daha sonra yeniden kullanılabilir.

Ayrıca, elektronik tablo dosyası paydaşlarla paylaşarak paydaşların raporu görmek için veritabanına bağlanmasına gerek olmayacaktır.

> [!NOTE]
> Bir yük testine açıklama eklersiniz, bunlar Excel görüntülenir.

## <a name="tasks"></a>Görevler

|Görevler|İlişkili konular|
|-|-|
|**Performans ve stres raporu oluşturma:** Yük ve web performans testlerinizi kullanarak rapor oluşturabilirsiniz Microsoft Excel.|- [Nasıl Microsoft Excel kullanarak yük testi performans raporları oluşturma](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Aşağıdakini kullanarak el ile performans ve stres Microsoft Word:** Özet, tablo ve grafik verilerini bir belgeye kopyalayıp yapıştırarak yük ve web performans testlerinizi el ile Microsoft Word oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Word kullanarak el ile yük testi performans raporu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını analiz etme](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
