---
title: 'Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma'
description: Yük testi ile ilgili belirli bilgileri görüntüleyen grafikleri nasıl tasarlayacağınızı, yük testinin çalışırken veya çalışmayı bitirdikten sonra öğrenin.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.technology: vs-ide-test
ms.openlocfilehash: a9eb8ef1df65ceb20968ff9887d4750d3b629a84
ms.sourcegitcommit: 68897da7d74c31ae1ebf5d47c7b5ddc9b108265b
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/13/2021
ms.locfileid: "122140004"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapılır: yük testi sonuçlarında özel grafikler oluşturma

Yük testi sonuçlarıyla ilgili belirli bilgileri görüntüleyen grafikler tasarlayabilirsiniz. Grafiğin görüntüleyeceği yük testi sayaçlarını belirterek özel bir grafik tasarlayacaksınız.

Yük testi çalışırken veya çalışmayı bitirdikten sonra aşağıdaki yordamı gerçekleştirebilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel bir yük testi sonuçları grafiği oluşturmak için

1. **Yük testi** araç çubuğunda **Yeni Graph Ekle**' yi seçin.

     \- veya

     **Yük Testi Çözümleyicisi**'Nde, **Sayaçlar** paneline veya bir grafiğe sağ tıklayın ve sonra **Graph Ekle**' yi seçin.

     **Graph adı girin** iletişim kutusu görüntülenir.

2. **Graph ad**' ın altında, grafik için bir ad yazın ve **tamam**' ı seçin.

     Yeni grafik **Yük Testi Çözümleyicisi**'nde görünür. Şu anda seçili olan grafik panelinde görünür; Bu panelde görüntülenen grafiğin yerini alır.

3. Sayaçlar ekleyerek yeni Grafiği özelleştirin. Daha fazla bilgi için bkz. [nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Grafik görünümünde Yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
