---
title: 'Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma'
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 1cc9c5bab7601a62bacfbbb155227bd5b632f93a
ms.sourcegitcommit: 1d4f6cc80ea343a667d16beec03220cfe1f43b8e
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 06/23/2020
ms.locfileid: "85287811"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapılır: yük testi sonuçlarında özel grafikler oluşturma

Yük testi sonuçlarıyla ilgili belirli bilgileri görüntüleyen grafikler tasarlayabilirsiniz. Grafiğin görüntüleyeceği yük testi sayaçlarını belirterek özel bir grafik tasarlayacaksınız.

Yük testi çalışırken veya çalışmayı bitirdikten sonra aşağıdaki yordamı gerçekleştirebilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel bir yük testi sonuçları grafiği oluşturmak için

1. **Yük testi** araç çubuğunda **yeni grafik Ekle**' yi seçin.

     \-veya

     **Yük Testi Çözümleyicisi**' nde, **Sayaçlar** paneline veya bir grafiğe sağ tıklayın ve ardından **Grafik Ekle**' yi seçin.

     **Grafik adını girin** iletişim kutusu görüntülenir.

2. **Grafik adı**bölümüne grafik için bir ad yazın ve **Tamam**' ı seçin.

     Yeni grafik **Yük Testi Çözümleyicisi**'nde görünür. Şu anda seçili olan grafik panelinde görünür; Bu panelde görüntülenen grafiğin yerini alır.

3. Sayaçlar ekleyerek yeni Grafiği özelleştirin. Daha fazla bilgi için bkz. [nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Grafik görünümünde Yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
