---
title: 'Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma'
description: Yük testi çalışırken veya çalıştırmayı bitirdikten sonra yük testi sonuçlarıyla ilgili belirli bilgileri görüntülemek için graflar tasarlamayı öğrenin.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.technology: vs-ide-test
ms.openlocfilehash: 313348a7face3e08c9b11cf3c970c208c1979dcc05ef96b0e9cd705bffbb2d39
ms.sourcegitcommit: c72b2f603e1eb3a4157f00926df2e263831ea472
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/12/2021
ms.locfileid: "121366675"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl gösterilir: Yük testi sonuçlarında özel graflar oluşturma

Yük testi sonuçlarıyla ilgili belirli bilgileri görüntülemek için graflar tasarabilirsiniz. Grafiğin görüntüley istediğiniz yük testi sayaçlarını belirterek özel bir grafik tasarlarsiniz.

Bir yük testi çalışırken veya çalıştırmayı bitirdikten sonra aşağıdaki yordamı gerçekleştirin.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel yük testi sonuçları grafiği oluşturmak için

1. Yük Testi **araç çubuğunda Yeni** Ekle'yi **Graph.**

     \- veya -

     Yük **Testi Çözümleyicisi'nin** Sayaçlar paneline veya grafa sağ tıklayın ve ardından Add **Graph**. 

     Bir **Graph Girin** iletişim kutusu görüntülenir.

2. Ad **Graph altında** graf için bir ad yazın ve Tamam'ı **seçin.**

     Yeni grafik Yük Testi **Çözümleyicisi'ne görünür.** Seçili graf panelinde görünür; bu panelde görüntülenen grafı değiştirir.

3. Sayaç ekleyerek yeni grafiği özelleştirin. Daha fazla bilgi için, [bkz. How to: Add and delete counters on graphs](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Graflar görünümünde yük testi sonuçlarını analiz etme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl gösterilir: Graflara sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
