---
title: 'Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 10433c63e0bad00d187f79634f74fa3727edc3dc
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 03/18/2020
ms.locfileid: "76113301"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapilir: Yük testi sonuçlarında özel grafikler oluşturma

Yük testi sonuçları hakkında belirli bilgileri görüntüleyen grafikler tasarlayabilirsiniz. Grafiğin göstereceği yük testi sayaçlarını belirterek özel bir grafik tasarlarsınız.

Bir yük testi çalışırken veya çalışması bittikten sonra aşağıdaki yordamı gerçekleştirebilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel yük testi sonuçları grafiği oluşturmak için

1. Yük **Testi** araç çubuğunda **Yeni Grafik Ekle'yi**seçin.

     \-veya -

     Yük **Testi Çözümleyicisi'nde,** **Sayaçlar** paneline veya grafikte sağ tıklatın ve ardından Grafik **Ekle'yi**seçin.

     **Grafik Adı Girin** iletişim kutusu görüntülenir.

2. **Grafik adı**altında, grafik için bir ad yazın ve **Tamam'ı**seçin.

     Yeni grafik **Yük Testi Çözümleyicisi'nde**görünür. Şu anda seçili grafik panelinde görünür; bu panelde görüntülenen grafiğin yerini alır.

3. Sayaçlar ekleyerek yeni grafiği özelleştirin. Daha fazla bilgi için [bkz: Grafiklerdeki sayaçları ekleyin ve silin.](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)

## <a name="see-also"></a>Ayrıca bkz.

- [Grafikler görünümünde yük testi sonuçlarını analiz edin](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: Grafiklerdeki sayaçları ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
